body {
	font-family: sans-serif;
}
.error {
	color:red;
}
textarea {
	white-space: pre;
	word-wrap: normal;
	word-break: normal;
}
table {
	width:100%;
}
tr:hover {
	background-color: lightgray;
}
td a {
  text-decoration: none;
  color: unset;
}
td a:hover, td a:active {
  text-decoration: underline;	
}
table td {
	width:50%;
}
td input[type='text'], td select, td textarea {
	width:100%;
}
td input[type='button'] {
	font-size: large;
}
